@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@theme {
  --font-display: "Oswald", "sans-serif"; 
}
@import "tailwindcss";

*,body{
  outline: none;
}

::-webkit-scrollbar{
  background-color: rgb(255, 255, 255);
  width: 5px;
}

::-webkit-scrollbar-thumb{
  width: 5px;
  background-color:rgba(164, 119, 247, 0.452);
  border-radius: 100px;
}
